body { background: #f37514; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 32px; display: flex; }
.block-validator-0 { color: #c1f1b1; font-size: 19px; margin-bottom: 5px; }
.block-sms-1 { color: #1c39d6; font-size: 15px; margin-bottom: 5px; }
.block-notify-2 { color: #602061; font-size: 15px; margin-bottom: 5px; }
.block-filter-3 { color: #6a1ce1; font-size: 15px; margin-bottom: 5px; }
.block-filter-4 { color: #c64002; font-size: 16px; margin-bottom: 5px; }